#page1 {
    height: 100%;
    background: url('urban.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#page2 {
    height: 70%;
    background: url('road.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#page3 {
    height: 100%;
    background: url('urban.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#page4 {
    height: 80%;
    background: url('road.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.third {
    height: 33%;
}

.half {
    height: 50%;
}

.quarter {
    height: 25%;
}

.clean {
    list-style-type: none;
}

.heading-index {
    color: #EEEEEE;
    text-shadow: 5px 5px 3px #0F0F0F;
    text-align: center;
}

